* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
}
.apart {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

li {
  list-style: none;
}
.bold {
  font-weight: bold;
}
.roboto {
  font-family: roboto;
}
.wrap {
  flex-wrap: wrap;
}
